<div class="container-fluid mb-4 mt-4">
    <div class="row">
        <div class="button-group p-4 text-end">
            <button class="btn btn-danger btn-sm" id="delete_table">
                TÜm Verileri Sil
            </button>
        </div>
        <div class="col-md-12">
            <div class="card p-4">
                <div class="card-body">
                    <table id="myTable">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Address</th>
                                <th>District</th>
                                <th>Street</th>
                                <th>Country</th>
                                <th>Website</th>
                                <th>Raiting</th>

                            </tr>
                        </thead>
                        <tbody>
                            {{#each data}}
                            <tr>
                                <td>
                                    {{this.name}}
                                </td>
                                <td>
                                    {{this.phone_number}}
                                </td>
                                <td>
                                    {{this.full_address}}
                                </td>
                                <td>
                                    {{this.district}}
                                </td>
                                <td>
                                    {{this.street_address}}
                                </td>
                                <td>
                                    {{this.country}}
                                </td>
                                <td>
                                    {{this.website}}
                                </td>
                                <td>
                                    {{this.raiting}}
                                </td>
                            </tr>
                            {{/each}}
                            <!-- Diğer satırlar -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            responsive: true,
            dom: 'lBfrtip',
            columnDefs:[
            {
                targets: 6,
                render: function(data, type, row, meta){
                    if (data.length > 20) {
                        return '<a href="' + data + '" target="_blank">' + data.substr(0, 20) + '...</a>';
                    } else {
                        return '<a href="' + data + '" target="_blank">' + data + '</a>';
                    }
                }
            }]
        });

        $('#delete_table').click(function(){
            Swal.fire({
                title: 'Emin misiniz?',
                text: "Tüm veriler silinecek!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#6c757d',
                confirmButtonText: 'Evet, sil!',
                cancelButtonText: 'İptal'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/admin/google/delete-all',
                        type: 'GET',
                        success: function (response) {
                            Swal.fire({
                                title: 'Başarılı!',
                                text: "Tüm veriler silindi!",
                                icon: 'success',
                                confirmButtonColor: '#6c757d',
                                confirmButtonText: 'Tamam'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    location.reload();
                                }
                            })
                        }
                    });
                }
            })
        })
    });
</script>